@import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto:wght@100&display=swap');

body {
    display: flex;
    font-family: 'Rampart One', cursive;
    font-weight: bold;
    background-image: url('./imgs/swan.jpg');
    background-size: cover;    
    color: #fff;
    text-align: center;
}
body h1 {
    position: absolute;
    font-size: 40px;
}

p {
    font-size: 40px;
}   

#turns {
    display: flex; 
    flex-flow: column;
    margin-top: 15vh;
}

#plays {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#plays button {
    margin-top: 5vh;
    margin-bottom: 15px;
    width: 80px;
    height: 8vh;
    margin-right: 2vw;
    cursor: pointer;
}

#pedra {
    background-image: url('./imgs/seixo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#papel {
    background-image: url('./imgs/papel.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#tesoura {
    background-image: url('./imgs/tesoura.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#players {
    display: flex;
    flex-direction: row;
    
}

#players div {
    width: 200px;
    height: 80px;
}

#turnCom {
    width: 80vw;
    height: 20vh;
    margin-left: 9vw;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

#result {
    font-size: 60px;
    text-align: center;
    margin-top: 30px;
}

@media screen and (min-width: 768px){
    #turnCom {
        width: 50vw;
        height: 40vh;
    }

    body {
        margin-left: 15vw;
    }

    body h1 {
        margin-left: 300px;
    }

}